{% load static %}

<!DOCTYPE HTML>

<html>
    <head>
        <title>Estrella artística</title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/log_in.css' %}">
    </head>

    <body>
        <div id="principal-frame">
            <div id="superior-frame">
                <h2>Estrella artística te saluda</h2>
            </div>
            <div id="bottom-frame">
                <div id="put-info">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Registrarte</button>
                    </form>
                </div>
                <div id="vertical-line"></div>
                <div id="extra-info">
                    <p>
                        Te damos la bienvenida otra vez a esta plataforma
                        que tanto te quiere.
                    </p>
                    <p>
                        Disfruta de tus imágenes y todas nuestras características
                        una vez que ingreses tus datos para verificar quién eres.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
