#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#header h1, #header input, #header button {
    margin: 0;
}

#header h1 {
    font-family: 'monospace', sans-serif;
}

#header input {
    width: 70%;
    border-radius: 10px;
}

#header button {
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #000000;
    height: 30px;
    width: 80px;
    transition: all 0.3s ease; 
}

#header button:hover {
    box-shadow: 1px 1px 5px black;
}