    #section-profile-user {
        background-color: #ececec;
        display: flex;
        margin-top: 110px;
    }

    #section-post-to-board {
        width: 50%;
        height: 50%;
        background-color: white;
    }
    
    #lateral-bar {
        background-color: #ffffff;
        width: 370px;
        text-align: center;
    }

    #lateral-bar #image-text img {
        width: 80%;
        margin-top: 10px;
    }

    #lateral-bar #boards-nav {
        border: 1px solid black;
        border-radius: 10px;
        width: 95%;
        transition: all 0.3s ease;
    }

    #overflow-for-nav {
        max-height: 150px;
        overflow: overlay;  /* Muestra las barras solo cuando sea necesario */
        overflow-x: hidden;
        margin-right: -15px;
    }
    
    #overflow-for-nav::-webkit-scrollbar {
        width: 15px; /* ajusta tamaño de barra */
    }
    
    #overflow-for-nav::-webkit-scrollbar-thumb {
        background-color: transparent; /* vuelve invisible la barra */
    }

    #lateral-bar #boards-nav:hover {
        box-shadow: 1px 1px 5px black;
    }

    #lateral-bar #boards-nav nav {
        width: 100px;
        margin-left: -10.5%;
    }

    #lateral-bar #boards-nav nav li {
        border: 1px solid #000000;
        border-radius: 10px;
        width: 250px;
        height: 20px;
        margin-bottom: 2px;
        text-align: center;
        display: inline-block;
        transition: all 0.3s ease;
    }

    #lateral-bar #boards-nav nav li.truncate-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #lateral-bar #boards-nav nav li:hover {
        box-shadow: 1px 1px 5px black;
    }
    
    #lateral-bar button {
        background-color: #ffffff;
        border-radius: 20px;
        border: 1px solid #000000;
        height: 40px;
        width: 180px;
        margin-bottom: 10px;
        transition: all 0.3s ease; 
    }
    
    #lateral-bar button:hover {
        box-shadow: 1px 1px 5px black;
    }

    #all-cards {
        margin-left: 1%;
        width: 98%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        gap: 10px;
    }

    .cards {
        margin-top: 5px;
        background-color: #ffffff;
        border: 1px solid #c2c2c2;
        border-radius: 10px;
        padding: 5px;
        width: 225px;
        max-height: 800px;
        object-fit: cover;
        display: block;
        transition: all 0.3s ease;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .cards:hover {
        box-shadow: 2px 2px 5px black;
    }

    .cards img {
        margin-top: 10px;
        margin-left: 12px;
        width: 90%;
        height: auto;
    }

    .cards h2, .cards h3 {
        margin-left: 12px;
    }

    .cards h2 {
        font-family: Verdana, sans-serif;
        font-size: 100%;
    }

    .cards h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80%;
    }

    .likes-user {
        display: flex;
    }

    .likes-user {
        display: flex;
    }

    .mini-image-container {
        width: 30px;
        height: 30px;
    }

    .mini-image-user {
        object-fit: cover;
        
        border-radius: 50%;
    }

    .letters-like {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
    }

    .cards-hashtag {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 5px;
    }

    .cards .cards-hashtag h3 {
        font-family: Verdana, sans-serif;
        font-size: 80%;
        font-weight: bold;
    }

    #lateral-bar #options-profile {
        display: flex;
        flex-direction: column;
        margin-left: 17%;
        margin-top: 10px;
    }

    #lateral-bar #options-profile button {
        margin-left: -25%;
    }

    .context-menu {
        display: none;
        position: fixed;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 100;
        transition: all 0.3s ease;
    }

    .context-menu:hover {
        box-shadow: 1px 1px 5px black;
    }
    
    .context-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .context-menu li {
        padding: 8px 12px;
        cursor: pointer;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
    }