{% extends "Header_bar.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Board.css' %}"
{% endblock %}

{% block content %}
    <section>
        <div id="lateral-bar">
            <div id="image-text">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                alt="profile photo">
                <h2>{{user.nickname}}</h2>
                <h2>{{ board.name }}</h2>
            </div>
            <div id="boards-nav">
                <h3>Tableros</h3>
                {% if boards %}
                    <nav>
                        <ul>
                            {% for board in boards %}
                                <li class="{% if board.name|length > 21 %}truncate-text{% endif %}">
                                    <a href="{% url 'board' board.id %}">
                                        {% if board.name|length > 21 %}
                                            {{ board.name|slice:":18" }}...
                                        {% else %}
                                            {{ board.name }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <a href="{% url 'create_new_board' %}">
                        <button type="button">+</button>
                    </a>
                {% else %}
                    <a href="{% url 'create_new_board' %}">
                        <button type="button">+</button>
                    </a>
                {% endif %}
            </div>
            <div id="options-profile">
                <button type="button">Configuraciones</button>
                <a href="{% url 'logout' %}">
                    <button type="button" id="logout-button">Cerrar sesión</button>
                </a>
            </div>
        </div>
    </section>
{% endblock  %}