{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Estrella artística</title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/Header_bar.css' %}">
        <script src="{% static 'Javascript/scripts.js' %}"></script>
        {% block styles %}

        {% endblock %}
    </head>

    <body>
        <div id="header">
            <a href="{% url 'home' %}"><h1>Estrella artística</h1></a>
            <div id="search-elements">
                <input type="text" id="search-input" onkeypress="handleKeyPress(event)">
                <button type="button" onclick="search()">Buscar</button>
            </div>
            {% if user.is_authenticated %}
                <!-- Mostrar la imagen solo si se ha iniciado sesión -->
                <a href="{% url 'upload_image' %}">
                    <button type="button" id="button-post-image">+</button>
                </a>
                <a href="{% url 'profile_user' %}">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    alt="profile photo"
                    id="image-profile">
                </a>
            {% else %}
                <!-- Mostrar los botones solo si no se ha iniciado sesión -->
                <a href="{% url 'log_in' %}">
                    <button type="button">Iniciar sesión</button>
                </a>
                <a href="{% url 'sign_up' %}">
                    <button type="button">Registrarte</button>
                </a>
            {% endif %}
        </div>
        {% block content %}

        {% endblock %}
    </body>

    <script>
        var base_url = "{% url 'home_with_param' search='__filter__' %}";
    </script>
</html>
