{% extends "Header_bar.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Home.css' %}">
{% endblock %}

{% block  content %}
    <section>
        {% if boards %}
            <div id="boards-search">
                <div id="container-board-cards">
                    {% for board in boards %}
                        <div id="board-card">
                            <a href="{% url 'board' board.id %}">
                                <h2>{{board.name}}</h2>
                                <h2 class="user-name-h2">{{board.user.nickname}}</h2>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div id="all-cards">
            {% for post in posting %}
                <a href="{% url 'view_the_post' post.id %}">
                    <div class="cards">
                        <img src="{{post.image}}" alt="fox">
                        <h2>{{post.title}}</h2>
                        <h3>{{post.description}}</h3>
                        <div class="likes-user">
                            <div class="mini-image-container">
                                <img 
                                    class="mini-image-user" 
                                    src="{{ post.user.image }}" 
                                    alt="image-user">
                            </div>
                            <h3>{{post.user.nickname}}</h3>
                            <div class="letters-like">
                                <h3>me gusta:</h3>
                                <h3>{{post.likes}}</h3>
                            </div>
                        </div>
                        <div class="cards-hashtag">
                            {% for hashtag in post.hashtag_set.all|slice:":2" %}
                                <h3>{{hashtag.name_hashtag}}</h3>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock  %}