{% extends "Header_bar.html" %}

{% load static %}

{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'CSS/Profile_user.css' %}">
{% endblock %}

{% block content %} 
    <section id="section-profile-user">
        <div id="lateral-bar">
            <div id="image-text">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                alt="profile photo">
                <h2>{{user.nickname}}</h2>
            </div>
            <div id="boards-nav">
                <h3>Tableros</h3>
                {% if boards %}
                    <nav>
                        <ul>
                            {% for board in boards %}
                                <li class="{% if board.name|length > 21 %}truncate-text{% endif %}">
                                    <a href="{% url 'board' board.id %}">
                                        {% if board.name|length > 21 %}
                                            {{ board.name|slice:":18" }}...
                                        {% else %}
                                            {{ board.name }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <a href="{% url 'create_new_board' %}">
                        <button type="button">+</button>
                    </a>
                {% else %}
                    <a href="{% url 'create_new_board' %}">
                        <button type="button">+</button>
                    </a>
                {% endif %}
            </div>
            <div id="options-profile">
                <a href="{% url 'configuration_profile' %}">
                    <button type="button">Configuraciones</button>
                </a>
                <a href="{% url 'logout' %}">
                    <button type="button" id="logout-button">Cerrar sesión</button>
                </a>
            </div>
        </div>
        <div id="all-cards">
            {% for post in posting %}
                <a href="{% url 'view_the_post' post.id %}">
                    <div class="cards">
                        <img src="{{post.image}}" alt="fox">
                        <h2>{{post.title}}</h2>
                        <h3>{{post.description}}</h3>
                        <div class="likes-user">
                            <h3>{{post.user.nickname}}</h3>
                            <h3>{{post.likes}}</h3>
                        </div>
                        <div class="cards-hashtag">
                            {% for hashtag in post.hashtag_set.all|slice:":2" %}
                                <h3>{{hashtag.name_hashtag}}</h3>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}