{% extends "Header_bar.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/View_the_post.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block content %}
    <section id="section-view-the-post">
        <div id="principal-card">
            <img src="{{posting.image}}" alt="fox">
            <div id="btn-info">
                <div id="info-principal-card">
                    <h2>{{posting.title}}</h2>
                    <h3>{{posting.description}}</h3>
                    <div class="cards-hashtag-principal">
                        {% for hashtag in hashtags %}
                        <h3>{{hashtag.name_hashtag}}</h3>
                        {% endfor %}
                    </div>
                </div>
                <div id="buttons-principal-card">
                    <div id="buttons-up">
                        <div id="btn-likes">
                            <h3>{{posting.likes}}</h3>
                            <button 
                                type="button" 
                                id="btn-like" 
                                data-post-id="{{ posting.id }}">Me gusta</button>
                        </div>
                        <button     
                            type="button"   
                            id="btn-add-board"
                            onclick="showBoards()">Añadir a tablero</button>
                        <div id="count-btn-comments">
                            <h3>{{ num_comments }}</h3>
                            <button 
                                type="button" 
                                id="btn-comments"
                                onclick="showComments()">Comentarios</button>
                        </div>
                        {% if user.is_authenticated and posting.user.id == user.id %}
                            <div 
                                id="btns-for-user" 
                                style="display: flex; flex-direction: column; margin-right: 20px; margin-top: 10px">
                                <a href="{% url 'edit_post' posting.id %}">
                                    <button 
                                        type="button"
                                        id="btn-modify">Editar</button>
                                </a>
                                <button 
                                type="button"
                                id="btn-delete"
                                onclick="deletePost({{ posting.id }})">Borrar</button>
                            </div>
                        {% endif %}
                    </div>
                    <div id="commentSection"  style="display: none; text-align: center;">
                        <form id="commentForm" method="post">
                            {% csrf_token %}
                            {{ form.comment }}
                            <input type="hidden" name="post_id" value="{{ posting.id }}">
                            <button type="submit" class="form-control">Comentar</button>
                        </form>
                    </div>
                    <div id="showSection"  style="display: none; text-align: center; overflow-y: auto; max-height: 100px;">
                        {% for comment in comments_to_show %}
                            <div>
                                {{ comment.user }}
                                {{ comment.comment }}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="boardsSection"  style="display: none; text-align: center; overflow-y: auto; max-height: 100px;">
                        {% if boards %}
                            <nav>
                                <ul>
                                    {% for board in boards %}
                                    <li class="li_board" onclick="addPostToBoard({{ board.id }})">
                                            <a href="#">
                                                {% if board.name|length > 21 %}
                                                    {{ board.name|slice:":18" }}...
                                                {% else %}
                                                    {{ board.name }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                            <a href="{% url 'create_new_board' %}">
                                <button 
                                    type="button">+</button>
                            </a>
                        {% else %}
                            <a href="{% url 'log_in' %}">
                                <button type="button">Iniciar sesión</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="all-cards">
        {% for post in all_posting %}
            <a href="{% url 'view_the_post' post.id %}">
                <div class="cards">
                    <img src="{{post.image}}" alt="fox">
                    <h2>{{post.title}}</h2>
                    <h3>{{post.description}}</h3>
                    <div class="cards-hashtag">
                        {% for hashtag in post.hashtag_set.all %}
                        <h3>{{hashtag.name_hashtag}}</h3>
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </section>

    <script>
        var board_flag = false;

        function showBoards() {
            if(board_flag === false){
                board_flag = true;
                updateDOMBaseOnBoardFlag();
            } else {
                board_flag = false;
                updateDOMBaseOnBoardFlag();
            }
        }

        function updateDOMBaseOnBoardFlag() {
            var boardsSection = document.getElementById('boardsSection');
            var buttonsBox = document.getElementById('buttons-principal-card');
            
            var heightBox = buttonsBox.clientHeight;

            if (board_flag) {
                boardsSection.style.display = 'block';
                buttonsBox.style.marginTop = 210-(heightBox + (boardsSection.clientHeight + heightBox)) + 'px';
            } else {
                boardsSection.style.display = 'none';
                buttonsBox.style.marginTop = '0px';
            }
        }
    </script>

    <script>
        var comment_flag = false;

        function showComments() {
            if(comment_flag === false){
                comment_flag = true;
                updateDOMBasedOnCommentFlag();
            } else {
                comment_flag = false;
                updateDOMBasedOnCommentFlag();
            }
        }

        function updateDOMBasedOnCommentFlag() {
            var commentSection = document.getElementById('commentSection');
            var showSection = document.getElementById('showSection');
            var buttonsBox = document.getElementById('buttons-principal-card');
            
            var heightBox = buttonsBox.clientHeight;

            if (comment_flag) {
                commentSection.style.display = 'block';
                showSection.style.display = 'block';

                console.log("showSection: "+showSection.clientHeight+" buttonBox: "+heightBox)
                console.log(-(heightBox + (showSection.clientHeight + heightBox)))
                
                buttonsBox.style.marginTop = 70-(heightBox + (showSection.clientHeight + heightBox)) + 'px';
            } else {
                commentSection.style.display = 'none';
                showSection.style.display = 'none';
                buttonsBox.style.marginTop = '0px';
            }
        }

    </script>

    <script>
        function deletePost(post_id){

            $.ajax({
                type: "POST",
                url: "{% url 'delete_post' %}",
                data: {
                    'post_id': post_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response){
                    if (response === 'success') {
                        console.log('Post delete successfully');

                        location.href = "{% url 'home' %}"
                    } else {
                        console.log('Error delete post');
                    }
                },
                error: function(error) {
                    console.log('Error delete post:', error);
                }
            })
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#btn-like').on('click', function () {
                var post_id = $(this).data('post-id');
                likePost(post_id);
            });
    
            function likePost(post_id) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'like_post' %}",  
                    data: {
                        'post_id': post_id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response === 'success') {
                            console.log('Post liked successfully');
                        } else {
                            console.log('Error liking post');
                        }
                    },
                    error: function (error) {
                        console.log('Error liking post:', error);
                    }
                });
            }
        });
    </script>

    <script>
        function addPostToBoard(boardId) {
            var postId = '{{ posting.id }}';
        
            $.ajax({
                type: 'POST',
                url: "{% url 'add_post_to_board' %}",
                data: {
                    'board_id': boardId,
                    'post_id': postId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response === 'success') {
                        console.log('Post added to board successfully');
                    } else {
                        console.log('Error adding post to board');
                    }
                },
                error: function (error) {
                    console.log('Error adding post to board:', error);
                }
            });
        }
    </script>
{% endblock  %}