{% extends "Header_bar.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/View_the_post.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block content %}
    <section id="section-view-the-post">
        <div id="principal-card">
            <img src="{{posting.image}}" alt="fox">
            <div id="btn-info">
                <div id="info-principal-card">
                    <h2>{{posting.title}}</h2>
                    <h3>{{posting.description}}</h3>
                    <div class="cards-hashtag-principal">
                        {% for hashtag in hashtags %}
                        <h3>{{hashtag.name_hashtag}}</h3>
                        {% endfor %}
                    </div>
                </div>
                <div id="buttons-principal-card">
                    <div id="buttons-up">
                        <div id="btn-likes">
                            <h3>{{posting.likes}}</h3>
                            <button 
                                type="button" 
                                id="btn-like" 
                                data-post-id="{{ posting.id }}">Me gusta</button>
                        </div>
                        <button type="button" id="btn-add-board">Añadir a tablero</button>
                        <div id="count-btn-comments">
                            <h3>{{ num_comments }}</h3>
                            <button 
                                type="button" 
                                id="btn-comments"
                                onclick="showComments()">Comentarios</button>
                        </div>
                    </div>
                    <div id="commentSection"  style="display: none; text-align: center;">
                        <form id="commentForm" method="post">
                            {% csrf_token %}
                            {{ form.comment }}
                            <input type="hidden" name="post_id" value="{{ posting.id }}">
                            <button type="submit" class="form-control">Comentar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="all-cards">
        {% for post in all_posting %}
            <a href="{% url 'view_the_post' post.id %}">
                <div class="cards">
                    <img src="{{post.image}}" alt="fox">
                    <h2>{{post.title}}</h2>
                    <h3>{{post.description}}</h3>
                    <div class="cards-hashtag">
                        {% for hashtag in post.hashtag_set.all %}
                        <h3>{{hashtag.name_hashtag}}</h3>
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </section>

    <script>
        var comment_flag = false;
    
        function showComments() {
            if(comment_flag === false){
                comment_flag = true;
                updateDOMBasedOnCommentFlag();
            } else {
                comment_flag = false;
                updateDOMBasedOnCommentFlag();
            }
        }
    
        function updateDOMBasedOnCommentFlag() {
            var commentSection = document.getElementById('commentSection');
            var buttonsBox = document.getElementById('buttons-principal-card');
    
            if (comment_flag) {
                commentSection.style.display = 'block';
                buttonsBox.style.marginTop = '-145px'
            } else {
                commentSection.style.display = 'none';
                buttonsBox.style.marginTop = '0px'
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#btn-like').on('click', function () {
                var post_id = $(this).data('post-id');
                likePost(post_id);
            });
    
            function likePost(post_id) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'like_post' %}",  
                    data: {
                        'post_id': post_id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response === 'success') {
                            console.log('Post liked successfully');
                        } else {
                            console.log('Error liking post');
                        }
                    },
                    error: function (error) {
                        console.log('Error liking post:', error);
                    }
                });
            }
        });
    </script>
{% endblock  %}