{% load static %}

<!DOCTYPE HTML>

<html>
    <head>
        <title>Estrella artística</title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/log_in.css' %}">
    </head>

    <body>
        <div id="principal-frame">
            <div id="superior-frame">
                <h2>Estralla artística te saluda</h2>
            </div>
            <div id="bottom-frame">
                <div id="put-info">
                    <h2>Correo electrónico</h2>
                    <input type="text">
                    <h2>Contraseña</h2>
                    <input type="text">
                    <button type="button">Iniciar sesión</button>
                </div>
                <div id="vertical-line"></div>
                <div id="extra-info">
                    <p>
                        Te damos la bienvenida, otra vez, a esta plataforma
                        que tanto te quiere.
                    </p>
                    <p>
                        Disfruta de tus imágenes, y todas nuestras características
                        una vez que ingreses tus datos para verificar quien eres.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>